In [1]:
import torch

In [2]:
torch.randn(2,3).type()

'torch.FloatTensor'

In [2]:
import pandas as pd
import numpy as np
from pandas import Series,DataFrame

In [3]:
import webbrowser
link = 'http://www.tiobe.com/tiobe-index/'
webbrowser.open(link)

True

In [8]:
df = pd.read_clipboard()

In [9]:
df

   Jul 2019  Jul 2018  Change Programming Language  Ratings Change.1
0         1         1     NaN                 Java  15.058%   -1.08%
1         2         2     NaN                    C  14.211%   -0.45%
2         3         4  change               Python   9.260%   +2.90%
3         4         3  change                  C++   6.705%   -0.91%
4         5         6  change                   C#   4.365%   +0.57%
5         6         5  change    Visual Basic .NET   4.208%   -0.04%
6         7         8  change           JavaScript   2.304%   -0.53%
7         8         7  change                  PHP   2.167%   -0.67%
8         9         9     NaN                  SQL   1.977%   -0.36%
9        10        10     NaN          Objective-C   1.686%   +0.23%

In [10]:
#题头
df.columns

Index(['Jul 2019', 'Jul 2018', 'Change', 'Programming Language', 'Ratings',
       'Change.1'],
      dtype='object')

In [11]:
#某一列
df.Ratings

0    15.058%
1    14.211%
2     9.260%
3     6.705%
4     4.365%
5     4.208%
6     2.304%
7     2.167%
8     1.977%
9     1.686%
Name: Ratings, dtype: object

In [12]:
#过滤 取部分内容
df_new = DataFrame(df,columns=['Programming Language','Ratings'])

In [13]:
df_new

  Programming Language  Ratings
0                 Java  15.058%
1                    C  14.211%
2               Python   9.260%
3                  C++   6.705%
4                   C#   4.365%
5    Visual Basic .NET   4.208%
6           JavaScript   2.304%
7                  PHP   2.167%
8                  SQL   1.977%
9          Objective-C   1.686%

In [14]:
#获取题头有空格的一列，用字典的方式
df['Jul 2019']

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
Name: Jul 2019, dtype: int64

In [15]:
#附加一列
df_new = DataFrame(df,columns=['Programming Language','Ratings','new_col'])
df_new

  Programming Language  Ratings  new_col
0                 Java  15.058%      NaN
1                    C  14.211%      NaN
2               Python   9.260%      NaN
3                  C++   6.705%      NaN
4                   C#   4.365%      NaN
5    Visual Basic .NET   4.208%      NaN
6           JavaScript   2.304%      NaN
7                  PHP   2.167%      NaN
8                  SQL   1.977%      NaN
9          Objective-C   1.686%      NaN

In [16]:
#赋新值
#法一：pyhton语句
df_new['new_col'] = range(0,10)

In [17]:
df_new

  Programming Language  Ratings  new_col
0                 Java  15.058%        0
1                    C  14.211%        1
2               Python   9.260%        2
3                  C++   6.705%        3
4                   C#   4.365%        4
5    Visual Basic .NET   4.208%        5
6           JavaScript   2.304%        6
7                  PHP   2.167%        7
8                  SQL   1.977%        8
9          Objective-C   1.686%        9

In [19]:
#法二：numpy.arange()
df_new['new_col'] = np.arange(0,10)
df_new

  Programming Language  Ratings  new_col
0                 Java  15.058%        0
1                    C  14.211%        1
2               Python   9.260%        2
3                  C++   6.705%        3
4                   C#   4.365%        4
5    Visual Basic .NET   4.208%        5
6           JavaScript   2.304%        6
7                  PHP   2.167%        7
8                  SQL   1.977%        8
9          Objective-C   1.686%        9

In [20]:
#法三：pd.Series
df_new['new_col'] = pd.Series(np.arange(0,10))
df_new

  Programming Language  Ratings  new_col
0                 Java  15.058%        0
1                    C  14.211%        1
2               Python   9.260%        2
3                  C++   6.705%        3
4                   C#   4.365%        4
5    Visual Basic .NET   4.208%        5
6           JavaScript   2.304%        6
7                  PHP   2.167%        7
8                  SQL   1.977%        8
9          Objective-C   1.686%        9

In [21]:
#只给具体行赋值
df_new['new_col'] = pd.Series([100,200],index=[1,2])
df_new

  Programming Language  Ratings  new_col
0                 Java  15.058%      NaN
1                    C  14.211%    100.0
2               Python   9.260%    200.0
3                  C++   6.705%      NaN
4                   C#   4.365%      NaN
5    Visual Basic .NET   4.208%      NaN
6           JavaScript   2.304%      NaN
7                  PHP   2.167%      NaN
8                  SQL   1.977%      NaN
9          Objective-C   1.686%      NaN